<h1>Listing reservations for <%= @restaurant.name %></h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Date</th>
      <th>Time</th>
      <th>Message</th>
      <th>Restaurant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.email %></td>
        <td><%= reservation.date %></td>
        <td><%= reservation.time.strftime('%l:%M %p') %></td>
        <td><%= reservation.message %></td>
        <td><%= reservation.restaurant_id %></td>
        <td><%= link_to 'Show', restaurant_reservation_path(@restaurant.id, reservation.id) %></td>
        <td><%= link_to 'Edit', edit_restaurant_reservation_path(@restaurant.id, reservation.id) if owned?(@restaurant) %></td>
        <td><%= link_to 'Destroy', restaurant_reservation_path(@restaurant.id, reservation.id), method: :delete, data: { confirm: 'Are you sure?' } if owned?(@restaurant) %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_restaurant_reservation_path %>
