<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Reservation</h1>
    <p>
      Somebody booked a new reservation at <%= @restaurant.name %>.
      <br>
    </p>
    <p>
      <h2>Reservation info:</h2> 
      <br><%= @reservation.email %>
      <br><%= dateFormat(@reservation.date) %>
      <br><%= timeFormat(@reservation.time) %>
      <br><%= @reservation.message %>
    </p>
    <p>
      To login to the site, just follow this link: <%= link_to 'Google', @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>